.avatar{
    width: 100%;
    height: 300px;
    border-radius: .5rem;
}
.about-me-social .fa{
    font-size: 1.5rem;
    color: #212529;
}
.about-me-detail{
    height: 16.5rem;
    text-align: justify;
}
.about-me-right{
    height: 344px;
}