.stats{
    height: 400px;
    background-image: url("../images/statistics-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.stat-number{
    font-size: 3rem;
    line-height: 3rem;
}
.stat-title{
    font-size: 1.5rem;
    line-height: 1.5rem;
}