.top-posts{
}
.card-title{
font-size: 1.5rem;
line-height: 1.5rem;
}
.card-subtitle{
    font-size: 1rem;
    line-height: 1rem;
}
.card-text{
font-size: 1rem;
line-height: 1.5rem;
text-align: justify;
height: 4.5rem;
overflow: hidden;
}
.top-posts .controls-container{
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.top-posts  .controls-container > div{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
}
.top-posts  .controls-container > div:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}
.top-posts .prev-button{
    position: relative;
    left: -0.75rem;
}
.top-posts .next-button{
    position: relative;
    right: -0.75rem;
}
@media (min-width: 576px){
    .top-posts .prev-button{
        left: -1.5rem;
    }
    .top-posts .next-button{
        right: -1.5rem;
    }
}