.athletes{
    position: relative;
}
.athletes-img {
    position: absolute;
    width: 12.5rem;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.athletes-img > img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
}
.athletes-img > img:nth-child(3){
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.athletes-bar{
    width: 16.5rem;
    z-index: -1;
    background: #936EEA;
    top: 40%;
}
.athletes-content > div:nth-child(1){
    font-size: 3.125rem;
    color: #E7E7E7;
    letter-spacing: 0;
    height: 19.125rem;
    padding: 0 0.9375rem;
}
.athletes-steps{
    background: #F5F4F9;
    height: 17.75rem;
    padding: 4.5rem 0.9375rem 0 0.9375rem;
}
.athletes-steps-desktop{
    display: none;
}
.athletes-step{
    align-items: flex-start;
    flex-direction: column;
}
.athletes-step-number{
    flex-direction: column;
    margin-right: .5rem;
}
.athletes-step-number > div:nth-child(1){
    font-family: ProximaNova-Bold;
    font-size: 0.875rem;
    color: #000000;
    letter-spacing: 1.5px;
}
.athletes-step-number > div:nth-child(2){
    background: #603EBE;
    width: 100%;
    height: .25rem;
    border-radius: .125rem;
}
.athletes-step-name{
    font-family: ProximaNova-Bold;
    font-size: 1.75rem;
    color: #C2C2C2;
    letter-spacing: 1.5px;
}
.athletes-step-content{
    font-size: 0.9375rem;
    color: #000000;
    letter-spacing: 0.74px;
    margin-top: 1.25rem;     
}
@media(min-width: 768px){
    .athletes{
        margin-top: 50px;
    }
    .athletes-steps{
        display: none;
    }
    .athletes-content > div:nth-child(1){
        font-size: 3.125rem;
        color: #E7E7E7;
        letter-spacing: 0;
        height: auto;
        padding: 0 0.9375rem 0 37.89%;
    }
    .athletes-steps-desktop{
        display: block;
        padding: 0;
    }
    .athletes-step{
        padding: 1.25rem 0.9375rem 1.25rem 37.89%;
    }
    .athletes-step:nth-child(2){
        background: #F5F4F9;
    }
    .athletes-step:nth-child(3){
        background: #5E3DB3;
    }
    .athletes-img {
        width: 20.75rem;
        top: 1rem;
        left: auto;
        transform: translateX(0);
        right: 62.11%;
        z-index: 1;
    }
    .athletes-bar {
        width: 26.5rem;
    }
    .athletes-step:nth-child(3) .athletes-step-number > div:nth-child(2){
        background: #ffffff;
    }
}
@media(min-width: 961px){
    .athletes-content > div:nth-child(1){
        padding: 0 10% 0 50%;
    }
    .athletes-step{
        padding: 1.25rem 10% 1.25rem 50%;
    }
    .athletes-img {
        right: 50%;
    }
}