header{
    height: 568px;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}
.header-bg{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.header{
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 0 0.9375rem;
}
.header-logo{
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}
.header-logo > div:nth-child(1){
    width: 8.5625rem;
}
.header-logo > div:nth-child(2){
    display: none;
}
.header-slogan{
    position: relative;
    font-family: ProximaNova-Bold;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 8.25rem;
}
.header-slogan > div:nth-child(3){
    width: 15.3rem;
}
.header-buttons{
    margin-top: 5.125rem;
}
.header-bar{
    width: 13.8125rem;
    height: .25rem;
    background: #5D40AD;
    z-index: -1;
}
.header-nav{
    position: absolute;
    bottom: 17px;
    z-index: 3;
    text-align: center;
}
.header-nav a{
    font-size: 0.75rem;
    color: #9071EA;
    letter-spacing: 0.2px;
}
@media(min-width: 768px){
    header{
        height: 960px;
    }
    .header-logo{
        justify-content: space-between;
    }
    .header-logo > div:nth-child(2){
        display: block;
        font-size: 0.6rem;
        color: #FFFFFF;
        letter-spacing: 0.2px;
    }
    .header-slogan {
        width: 25.5rem;
        margin: auto;
        margin-top: 174px;
        font-size: 2.7rem;
    }
    .header-slogan > div:nth-child(3){
        width: 21rem;
    }
    .header-bar {
        width: 16.5rem;
    }
    .header-nav{
        width: 100%;
        bottom: 281px;
        left: 0;
        right: 0;
    }
    .header-buttons{
        margin-top: 297px;
    }
}
@media(min-width: 961px){
    .header {
        width: 100%;
        position: absolute;
        z-index: 2;
        padding: 0 10%;
    }
    .header-slogan {
        width: 100%;
        margin-top: 174px;
        font-size: 90px;
    }
    .header-slogan > div:nth-child(3) {
        width: auto;
    }
    .header-bar {
        left: 35%;
    }
    .header-nav{
        width: auto;
        left: auto;
        right: 10%;
    }
}