.players{
    position: relative;
    overflow: hidden;
}
.players-img {
    position: absolute;
    width: 18.5rem;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.players-img > img:nth-child(2){
    position: absolute;
    top: 0;
    left: 3rem;
}
.players-img > img:nth-child(3){
    position: absolute;
    top: 1rem;
    left: 4rem;
}
.players-img > img:nth-child(4){
    position: absolute;
    right: 1rem;
    bottom: 5rem;
}
.players-bar-1{
    position: absolute;
    width: 10.1875rem;
    z-index: -1;
    top: 69%;
    left: 31%;
    background: #936EEA;
}
.players-bar-2{
    position: absolute;
    width: 7.375rem;
    z-index: -1;
    top: 26%;
    left: 80%;
    background: #936EEA;
}
.players-content > div:nth-child(1){
    font-size: 3.125rem;
    color: #E7E7E7;
    letter-spacing: 0;
    height: 19.125rem;
    padding: 0 0.9375rem;
}
.players-steps{
    background: #F5F4F9;
    height: 17.75rem;
    padding: 4.5rem 0.9375rem 0 0.9375rem;
}
.players-steps-desktop{
    display: none;
}
.players-step{
    align-items: flex-start;
    flex-direction: column;
}
.players-step-number{
    flex-direction: column;
    margin-right: .5rem;
}
.players-step-number > div:nth-child(1){
    font-family: ProximaNova-Bold;
    font-size: 0.875rem;
    color: #000000;
    letter-spacing: 1.5px;
}
.players-step-number > div:nth-child(2){
    background: #603EBE;
    width: 100%;
    height: .25rem;
    border-radius: .125rem;
}
.players-step-name{
    font-family: ProximaNova-Bold;
    font-size: 1.75rem;
    color: #C2C2C2;
    letter-spacing: 1.5px;
}
.players-step-content{
    font-size: 0.9375rem;
    color: #000000;
    letter-spacing: 0.74px;
    margin-top: 1.25rem;     
}
@media(min-width: 768px){
    .players{
        margin-top: 50px;
    }
    .players-steps{
        display: none;
    }
    .players-content > div:nth-child(1){
        height: auto;
        padding: 0 36.46% 0 0.9375rem;
    }
    .players-steps-desktop{
        display: block;
        padding: 0;
    }
    .players-step{
        padding: 1.25rem 36.46% 1.25rem 0.9375rem;
    }
    .players-step:nth-child(2){
        background: #F5F4F9;
    }
    .players-step:nth-child(3){
        background: #5E3DB3;
    }
    .players-img {
        width: 28.8rem;
        top: 0;
        left: 49.54%;
        transform: translateX(0);
        right: auto;
        z-index: 1;
    }
    .players-bar {
        width: 26.5rem;
    }
    .players-step:nth-child(3) .players-step-number > div:nth-child(2){
        background: #ffffff;
    }
}
@media(min-width: 961px){
    .players-content > div:nth-child(1){
        height: auto;
        padding: 0 50% 0 10%;
    }
    .players-step{
        padding: 1.25rem 50% 1.25rem 10%;
    }
    .players-img {
        left: 47%;
    }
}