@font-face{
    font-family: ProximaNova-Regular;
    src: url(../fonts/ProximaNova-Regular.otf) format("opentype");
}
@font-face{
    font-family: ProximaNova-Bold;
    src: url(../fonts/ProximaNova-Bold.otf) format("opentype");
}
@font-face{
    font-family: ProximaNova-Semibold;
    src: url(../fonts/ProximaNova-Semibold.otf) format("opentype");
}
body{
    font-family: ProximaNova-Regular, sans-serif;
    font-size: 16px;
}
.flex-box{
    display: flex;
    align-items: center;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-bar{
    height: 0.1875rem;
    transform: rotate(-232deg);
    background: #936EEA;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background: #D8D8D8;
}
.carousel-indicators li.active{
    background: #5C3CAF;
}
