*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    margin: auto;
}
.clear{
    clear: both;
}
.float-menu{
    position: relative;
    width: 20%;
    height: 1px;
    float: left;
    padding-top: 50px;
}
.menu{
    position: absolute;
    width: 100%;
}
.menu a{
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    background-color: aqua;
    padding: 5px;
    color: green;
    font-size: 20px;
    text-transform: capitalize;
}
.menu a:hover, .menu a:active{
    background-color: green;
    color: gold;
}
.gallery{
    float: left;
    width: 80%;
    padding-left: 50px;
    padding-top: 45px;
}
.column{
    float:left;
    width:25%;
    padding:5px;
}
.gallery .column img{
    width: 100%;
    margin-bottom:5px;
}
.gallery .column img:hover{
    border: 1px solid green;
}
a.back-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    background-color: aqua;
    padding: 20px;
    color: green;
}
a.back-to-top:hover, a.back-to-top:active{
    background-color: green;
    color: gold;
}
.footer{
    text-align: center;
}