.hero{
    position: relative;
}
.hero > img{
    width: 100%;
}
.hero-content{
    width: 686px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; 
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.hero-content > div{
    padding: 15px 0;
}
.slogan{
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    line-height: 62px;
}
.explaination{
    font-size: 18px;
    color: #D2D2D2;
    text-align: center;
    line-height: 34px;
}
.actions{
    width: 459px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.watch-video{
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 163px;
    height: 23px;
}
.watch-video > i{
    font-size: 20px;
}
@media (max-width: 1110px ){
    .hero > img{
        width: auto;
        max-width: none;
        /* height: 490px; */
        height: 847px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-content{
        width: 100%;
        max-width: 686px;
        padding: 0 1rem;
    }
    .actions {
        width: auto;
        flex-direction: column;
        height: 120px;
    }
}
