*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
body{
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: #2C2E30;
    letter-spacing: 0;
}
button:hover, a:hover{
    cursor: pointer;
}
.wrapper{
    width: 1920px;
    position: relative;
    overflow: hidden;
}
.background-cover1{
    width: 1920px;
    height: 790px;
    position: absolute;
    top:0;
    left:0; 
    z-index: 10;
    opacity: 0.5;
    background-color: #151619;
}
.background-cover2{
    width: 1920px;
    height: 57px;
    position: absolute;
    top:790px;
    left:0; 
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10;
    opacity: 0.5;
    background-color: #151619;
}

.get-started{
    text-align: center;
    background: #2F5BEA;
    padding: 13px 20.5px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
}