.testimonial-wrapper{
    width: 100%;
    height: 1078px;
    background-color: #151C32;
    margin-top: 137px;
    padding-top: 123px;
}
.testimonial{
    width: 911px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.testimonial-title{
    width: 552px;
    margin-bottom: 123px;
}
.testimonial-title > div:nth-child(1){
    font-size: 16px;
    color: #7E8085;
    text-align: center;
    text-transform: uppercase;
}
.testimonial-title > div:nth-child(2){
    font-size: 34px;
    color: #FFFFFF;
    text-align: center;
    line-height: 46px;
    margin-top: 14px;
}
.testimonial-content{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
.testimonial-detail{
    width: 421px;
    height: 443px;
}
.testimonial-detail > div:nth-child(1){
    font-size: 28px;
    color: #C9CDD5;
    line-height: 48px;
    height: 298px;
    overflow: hidden;
}
.testimonial-detail > div:nth-child(2){
    font-size: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 31px;
}
.testimonial-detail > div:nth-child(3){
    font-size: 16px;
    color: #7E8085;
    margin-top: 8px;
    margin-bottom: 26px;
}
.testimonial-users{
    width: 446px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.testimonial-users > img {
    margin-bottom: 27px;
}
.testimonial-navbar{
    width: 264px;
    display: flex;
    justify-content: space-between;
}
.testimonial-navbar > div{
    width: 77px;
    height: 9px;
    opacity: 0.3;
    background: #D8D8D8;
    border-radius: 5.5px;
}
.testimonial-navbar > div:first-child{
    background: #2F5BEA;
}
@media (max-width: 1110px){
    .testimonial-wrapper{
        width: 100%;
        padding: 123px 10px 143px;
        height: auto;
    }
    .testimonial{
        width: 100%;
        height: auto;
    }
    .testimonial-title{
        width: 100%;
        max-width: 552px;
    }
    .testimonial-content{
        width: 100%;
        max-width: 446px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .testimonial-detail {
        width: 100%;
        height: auto;
    }
    .testimonial-detail > div:nth-child(1) {
        height: auto;
    }
    .testimonial-users{
        width: 100%;
        height: auto;
        margin-bottom: 54px;
    }
}
