<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class=" treeview">
            <a href="#"><i class="fa fa-file"></i> <span>Post</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="create-post.html">Create post</a></li>
                <li><a href="published-posts.html">Published posts</a></li>
                <li>
                    <a href="draft-posts.html">
                        <span>Draft posts</span>
                        <span class="pull-right-container">
                            <span class="label bg-green pull-right">4</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" treeview">
            <a href="#"><i class="fa fa-comment"></i> <span>Thought</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="approved-comments.html">Approved comments</a></li>
                <li>
                    <a href="pending-comments.html">
                        <span>Pending comments</span>
                        <span class="pull-right-container">
                            <span class="label bg-green pull-right">4</span>
                        </span>
                    </a>
                </li>
                <li><a href="approved-replies.html">Approved replies</a></li>
                <li>
                    <a href="pending-replies.html">
                        <span>Pending replies</span>
                        <span class="pull-right-container">
                            <span class="label bg-green pull-right">4</span>
                        </span>
                    </a>
                </li>
                <li><a href="visitors-list.html">Visitors list</a></li>
            </ul>
        </li>
        <li class=" treeview">
            <a href="#"><i class="fa fa-tag"></i> <span>Tag</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="create-tag.html">Create tag</a></li>
                <li><a href="tags-list.html">Tags list</a></li>
            </ul>
        </li>
        <li class=" treeview">
            <a href="#"><i class="fa fa-file-image-o"></i> <span>Image</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="upload-image.html">Upload image</a></li>
                <li><a href="images-list.html">Images list</a></li>
            </ul>
        </li>
        <li class="active treeview">
            <a href="#"><i class="fa fa-gear"></i> <span>Setting</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="header.html">Header</a></li>
                <li><a href="footer.html">Footer</a></li>
                <li><a href="homepage.html">Homepage</a></li>
                <li><a href="seo.html">SEO</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->