footer{
    margin-top: 40px;
}
footer hr{
    background: #FF4E50;
    height: 2px;
}
.footer{
    height: 184px;
    margin-bottom: 22px;
    flex-direction: column;
}
.footer > div:nth-child(1){
    font-size: 16px;
    color: #FF4E50; 
}
.footer > div:nth-child(2) > div, .footer > div:nth-child(3) > div{
    font-weight: 700;
    font-size: 14px;
    color: #444444;
    text-align: center;
}
.footer ul{
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer li{
    display: inline-block;
    
}
.footer li a{
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 26px;
}
.footer > div:nth-child(4){
    flex-direction: column;

    font-weight: 700;
    font-size: 10px;
    color: #CCCCCC;
    letter-spacing: 1px;
}