.meet-partners{
    margin-top: 36px;
    flex-direction: column;
}
.meet-partners > div:first-child{
    font-weight: 700;
    font-size: 22px;
    color: #444444;
    text-align: center;
    margin-bottom: 14px;
}
.partner{
    margin: 0 27px 16px 27px;
    flex-direction: column;
    height: 205px;
}
.partner > div:nth-child(2){
    font-weight: 700;
    font-size: 14px;
    color: #444444;
    text-align: center;
}
.partner > div:nth-child(3){
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
}
.meet-partners > a{
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 20px;
    width: 280px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #FF4E50;
    margin-top: 42px;
}