body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    text-decoration: none;
}
