*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 595px;
    height: 842px; 
  }
  header, footer{
      width: 100%;
      height: 15px;
      background: #7395FF; 
  }
  main{
      width: 100%;
      height: calc(100% - 30px);
      display: flex;
      
  }
  .information{
    width: calc(100% - 197px);
    height: 100%;
    padding: 26px 0 31px 31px;
  }
  aside{
      width: 197px;
      height: 100%;
      background: #FAFAFA;
      padding: 26px 17px 31px 0;
  }
.section-title{
  font-size: 14px;
  color: #7395FF;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 14px;
}