<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class=" treeview">
            <a href="#"><i class="fa fa-file"></i> <span>Post</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Create post</a></li>
                <li><a href="#">Published posts</a></li>
                <li>
                    <a href="#">
                        <span>Draft posts</span>
                        <span class="pull-right-container">
                            <span class="label bg-green pull-right">4</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" treeview">
            <a href="#"><i class="fa fa-comment"></i> <span>Thought</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Approved comments</a></li>
                <li>
                    <a href="#">
                        <span>Pending comments</span>
                        <span class="pull-right-container">
                            <span class="label bg-green pull-right">4</span>
                        </span>
                    </a>
                </li>
                <li><a href="#">Approved replies</a></li>
                <li>
                    <a href="#">
                        <span>Pending replies</span>
                        <span class="pull-right-container">
                            <span class="label bg-green pull-right">4</span>
                        </span>
                    </a>
                </li>
                <li><a href="#">Visitors list</a></li>
            </ul>
        </li>
        <li class=" treeview">
            <a href="#"><i class="fa fa-tag"></i> <span>Tag</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Create tag</a></li>
                <li><a href="#">Tags list</a></li>
            </ul>
        </li>
        <li class=" treeview">
            <a href="#"><i class="fa fa-file-image-o"></i> <span>Image</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Upload image</a></li>
                <li><a href="#">Images list</a></li>
            </ul>
        </li>
        <li class="active treeview">
            <a href="#"><i class="fa fa-gear"></i> <span>Setting</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Header</a></li>
                <li><a href="#">Footer</a></li>
                <li><a href="#">Homepage</a></li>
                <li><a href="#">SEO</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->